/*.mat-toolbar {
  padding: 15px;
  background: #000;
}*/
.mobile-nav {
  background: #000;
}
.example-spacer {
  flex: 1 1 auto;
}
.wu-logo {
  width: 200px;
  height: auto;
  padding-top: 9px;
}
.white-color {
  color: white !important;
}
.mobile-nav {
  display: none;
}
.navbar-light .navbar-toggler-icon {
  background: #ffdd00;
}
.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .wu-logo{
    width: 130px;
  }
}
