.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-field {
    width: calc(50% - 0.5rem);
    margin-right: 0.5rem;
}

mat-card {
    padding: 1rem;
}