<mat-tab-group mat-align-tabs="center" class="custom-mat-tab-group">
    <mat-tab label="Beneficiary">
        <div class="table-container">
            <table mat-table [dataSource]="beneficiaryData">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let element">{{element.position}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="bank">
                    <th mat-header-cell *matHeaderCellDef>Bank Name</th>
                    <td mat-cell *matCellDef="let element">{{element.bank}}</td>
                </ng-container>

                <ng-container matColumnDef="ifsc">
                    <th mat-header-cell *matHeaderCellDef>IFSC</th>
                    <td mat-cell *matCellDef="let element">{{element.ifsc}}</td>
                </ng-container>

                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef>Modify</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-icons custom-icons">
                            mode_edit
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Remove</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-icons custom-icons" (click)="removeBeneficiary()">
                            delete
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button mat-raised-button color="primary" (click)="addBeneficiary()">Add Beneficiary</button>
        </div>
    </mat-tab>
    <mat-tab label="Transaction history"> Transaction history component </mat-tab>
</mat-tab-group>

<ng-template #deleteBeneficiary>
    <div>Are you sure?</div>
    <button mat-raised-button color="warn" (click)="close()">Delete</button>
</ng-template>