<div style="display: flex;
  justify-content: center;
  align-items: center;" class="mt-50">
  <div style="  width: 250px;
  padding: 0 15px;">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <div class="avatar">{{getInitials(avatarName).toUpperCase()}}</div>
        <p>&nbsp;&nbsp;&nbsp; {{avatarName.toUpperCase()}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div class="main-div mt-50">
  <div class="mat-container">
    <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
      <mat-grid-list [cols]="breakpoint" rowHeight="80px" (window:resize)="onResize($event)" [gutterSize]="'10px'">
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Title</mat-label>
            <mat-select formControlName="userTitle" >
              <mat-option value="mr">Mr</mat-option>
              <mat-option value="mrs">Mrs</mat-option>
              <mat-option value="miss">Miss</mat-option>
              <mat-option value="ms">Ms</mat-option>
              <mat-option value="dr">Dr</mat-option>
            </mat-select>
            <mat-error *ngIf="formError('userTitle', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>First Name</mat-label>
            <input type="text" matInput placeholder="First Name" formControlName="firstName" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('firstName', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput placeholder="Last Name" formControlName="lastName" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('lastName', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Address</mat-label>
            <input type="text" matInput placeholder="Address" formControlName="address1" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('address1', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>City</mat-label>
            <input type="text" matInput placeholder="City" formControlName="city" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('city', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option value="{{state}}" *ngFor="let state of states">{{state}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formError('state', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Country Code</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countryResult" value="{{country.dial_code}}">{{country.dial_code}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formError('country', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Pin Code</mat-label>
            <input type="text" matInput placeholder="Pin Code" formControlName="pin" [readonly]="isReadOnly">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Phone</mat-label>
            <input type="text" matInput placeholder="Phone" formControlName="phoneNumber" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('phoneNumber', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Country of Birth</mat-label>
            <mat-select formControlName="countryBirth">
              <mat-option value="{{country}}" *ngFor="let country of countries">{{country}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formError('countryBirth', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Nationality</mat-label>
            <input type="text" matInput placeholder="Nationality" formControlName="nationality" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('nationality', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error *ngIf="formError('gender', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" readonly formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formError('dob', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="email" [readonly]="isReadOnly">
            <mat-error *ngIf="formError('email', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="button" (click)="onEdit()">Edit</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="submit" [disabled]="isEdit" (click)="onUpdate()">Update</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
</div>
