<!--<div class="mt-50 main-avatar">
  <div class="main-avatar-container">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <div class="avatar">{{getInitials(avatarName).toUpperCase()}}</div>
        <p>&nbsp;&nbsp;&nbsp; {{avatarName.toUpperCase()}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>-->

<div class="main-div mt-50">
  <div class="mat-container">
    <!--<mat-card class="example-card" *ngIf="data">
      <mat-card-header>
        <mat-card-title>{{data.firstName.toUpperCase() +' '+ data.lastName.toUpperCase()}}</mat-card-title>
        <mat-card-subtitle>Email: {{data.email}}</mat-card-subtitle>
        <mat-card-subtitle>Phone: {{data.phoneNumber}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Address: {{data.address1}}</p>
        <p>City: {{data.city}}</p>
        <p>State: {{data.state}}</p>
        <p>Country code: {{data.country}}</p>
        <p>Pin: {{data.pin}}</p>
        <p>Country of Birth: {{data.countryBirth}}</p>
        <p>Nationality: {{data.nationality}}</p>
        <p>Gender: {{data.gender}}</p>
        <p>DOB: {{data.dob}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>-->

    <form [formGroup]="profileForm" (ngSubmit)="onProfileUpdate()">
      <mat-grid-list [cols]="matGridCol" rowHeight="80px" (window:resize)="onResize($event)" [gutterSize]="'10px'">
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Title</mat-label>
            <mat-select formControlName="userTitle">
              <mat-option value="mr">Mr</mat-option>
              <mat-option value="mrs">Mrs</mat-option>
              <mat-option value="miss">Miss</mat-option>
              <mat-option value="ms">Ms</mat-option>
              <mat-option value="dr">Dr</mat-option>
            </mat-select>
            <mat-error *ngIf="profileFromError('userTitle', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>First Name</mat-label>
            <input type="text" matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="profileFromError('firstName', 'required')">This field is required</mat-error>
            <mat-error *ngIf="profileFromError('firstName', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="profileFromError('lastName', 'required')">This field is required</mat-error>
            <mat-error *ngIf="profileFromError('lastName', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Address</mat-label>
            <input type="text" matInput placeholder="Address" formControlName="address1">
            <mat-error *ngIf="profileFromError('address1', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>City</mat-label>
            <input type="text" matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="profileFromError('city', 'required')">This field is required</mat-error>
            <mat-error *ngIf="profileFromError('city', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option value="{{state.label}}" *ngFor="let state of stateResult">{{state.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="profileFromError('state', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Country Code</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countryResult" value="{{country.dial_code}}">{{country.dial_code}}</mat-option>
            </mat-select>
            <mat-error *ngIf="profileFromError('country', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Pin Code</mat-label>
            <input type="text" matInput placeholder="Pin Code" formControlName="pin">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Phone</mat-label>
            <input type="text" matInput placeholder="Phone" formControlName="phoneNumber">
            <mat-error *ngIf="profileFromError('phoneNumber', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Country of Birth</mat-label>
            <mat-select formControlName="countryBirth">
              <mat-option value="{{country.name}}" *ngFor="let country of countryResult">{{country.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="profileFromError('countryBirth', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Nationality</mat-label>
            <mat-select formControlName="nationality">
              <mat-option *ngFor="let country of countryResult" value="{{country.name}}">{{country.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="profileFromError('nationality', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error *ngIf="profileFromError('gender', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" readonly formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="profileFromError('dob', 'required')">This field is required</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="profileFromError('email', 'required')">This field is required</mat-error>
            <mat-error *ngIf="profileFromError('email', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="button" (click)="onProfileEdit()">Edit</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="submit" [disabled]="isProfileEdit">Update</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <hr>
    <mat-card *ngFor="let card of existingCardDetails" style="margin-top: 20px;">
      <mat-card-header>
        <mat-card-subtitle>Card Detail</mat-card-subtitle>
        <mat-card-title>Card Number: {{card?.cardNumber}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Card Name: {{card?.nameOnCard}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteUserCardDetail(card?.cardNumber)">Delete</button>
      </mat-card-actions>
    </mat-card>
    <!--Add card-->
    <mat-grid-list [cols]="matGridCol" rowHeight="80px" (window:resize)="onResize($event)" [gutterSize]="'10px'" style="margin-top: 20px;">
      <form [formGroup]="addCardForm" (ngSubmit)="addUserCard()" id="addCardForm">
      <!--*ngIf="!isCardExist"-->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Card Number</mat-label>
            <input matInput #cardNumber maxlength="16" placeholder="2323565678789090" formControlName="cardNumber">
            <mat-hint align="end">{{cardNumber.value.length}}/16</mat-hint>
            <mat-error *ngIf="cardFormError('cardNumber', 'required')">This field is required</mat-error>
            <mat-error *ngIf="cardFormError('cardNumber', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Card Expiry</mat-label>
            <input matInput #cardExpiry maxlength="7" placeholder="02/2024" formControlName="cardExpiry">
            <mat-hint align="end">{{cardExpiry.value.length}}/7</mat-hint>
            <!--<input matInput [matDatepicker]="cardExpirypicker" readonly [formControl]="date" [min]="minDate">
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="cardExpirypicker"></mat-datepicker-toggle>
            <mat-datepicker #cardExpirypicker startView="multi-year"
                            (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, cardExpirypicker)"></mat-datepicker>-->
            <mat-error *ngIf="cardFormError('cardExpiry', 'required')">This field is required</mat-error>
            <mat-error *ngIf="cardFormError('cardExpiry', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Card Name</mat-label>
            <input matInput placeholder="John Doe" formControlName="nameOnCard">
            <mat-error *ngIf="cardFormError('nameOnCard', 'required')">This field is required</mat-error>
            <mat-error *ngIf="cardFormError('nameOnCard', 'pattern')">This field is invalid</mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" type="submit" [disabled]="false">Add Card Details</button>
        </mat-grid-tile>
      </form>
      </mat-grid-list>
  </div>
</div>
