.card {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.full-width {
    width: 100%;
}

mat-card-actions {
    align-items: center;
    justify-content: center;
}