/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ebece7;
}

.btn-right-aligned {
    float: right;
}

.mat-grid-tile-content {
    justify-content: start !important;
}