.mt-cd-custom {
    border-radius: 0px;
    box-shadow: none;
}

.mt-cd-custom-details {
    padding: 0.85rem;
    width: 90%;
    margin: auto;
    border-radius: 0px;
    box-shadow: none;
    background-color: #f3faff;
    padding: 0.85rem;
}

div>p {
    font-size: 0.85rem;
    cursor: pointer;
}

.rs-details {
    font-size: 0.85rem;
    margin-top: 1rem;
}

.grid-align-center>span {
    font-size: 0.85rem;
    text-align: center;
    color: #368abb;
    cursor: pointer;
}

.rs-mt-icon {
    font-size: 1.3rem;
}