<div class="center-aligned top-margin">
    <p class="header-text">Receivers</p>
    <mat-card *ngIf="receiversDetails.length > 0; else noReceiversFound">
        <mat-grid-list cols="9" rows="1" rowHeight="60px" *ngFor="let data of receiversDetails">
            <mat-grid-tile colspan="1" rowspan="1">
                <div class="grid-align-right w-80">
                    <div class="avatar" matListIcon>{{data.avatarIcon}}</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="7" rowspan="1">
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>{{data.firstName}} {{data.lastName}}</span>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <div class="grid-align-right w-100">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item [routerLink]="['modify-receiver', data.nickName]">
                            <mat-icon>edit</mat-icon>
                            <span>Modify</span>
                        </button>
                        <button mat-menu-item (click)="openConfirmationModel(data.nickName)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-grid-tile>
            <mat-divider></mat-divider>
        </mat-grid-list>
    </mat-card>
</div>

<div class="center-aligned">
    <button [routerLink]="['add-receiver']" class="btn-secondary">Add Receiver</button>
</div>

<ng-template #deleteReceiver>
    <h1 mat-dialog-title>Delete beneficiary</h1>
    <div mat-dialog-content>Are you sure?</div>
    <div mat-dialog-actions class="btn-right-aligned">
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Delete</button>
    </div>
</ng-template>

<ng-template #noReceiversFound>
    <div class="empty-list-text">No receiver found.</div>
</ng-template>